<?php
return [
        "host"       => "127.0.0.1",
        "port"       => 6379,
        "auth"       => '',
        "persistent" => false,
        "index"      => 0,
		"statsKey"   => '_PHCR',
		"prefix"   => '{{appname}}',
    ];
